/compiler.xml
/gradle.xml
/libraries/Gradle__antlr_antlr_2_7_7.xml
/libraries/Gradle__ch_qos_logback_logback_classic_1_1_5.xml
/libraries/Gradle__ch_qos_logback_logback_core_1_1_5.xml
/libraries/Gradle__com_beust_jcommander_1_48.xml
/libraries/Gradle__com_fasterxml_classmate_1_3_0.xml
/libraries/Gradle__com_google_code_findbugs_jsr305_1_3_9.xml
/libraries/Gradle__com_google_code_gson_gson_2_8_2.xml
/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_1_3.xml
/libraries/Gradle__com_google_guava_guava_23_6_jre.xml
/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml
/libraries/Gradle__com_squareup_okhttp3_okhttp_3_9_1.xml
/libraries/Gradle__com_squareup_okio_okio_1_13_0.xml
/libraries/Gradle__com_thoughtworks_xstream_xstream_1_4_8.xml
/libraries/Gradle__commons_codec_commons_codec_1_10.xml
/libraries/Gradle__commons_logging_commons_logging_1_2.xml
/libraries/Gradle__dom4j_dom4j_1_6_1.xml
/libraries/Gradle__mysql_mysql_connector_java_5_1_38.xml
/libraries/Gradle__net_bytebuddy_byte_buddy_1_7_9.xml
/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml
/libraries/Gradle__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
/libraries/Gradle__org_apache_httpcomponents_httpclient_4_5_3.xml
/libraries/Gradle__org_apache_httpcomponents_httpcore_4_4_6.xml
/libraries/Gradle__org_beanshell_bsh_2_0b4.xml
/libraries/Gradle__org_checkerframework_checker_compat_qual_2_0_0.xml
/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
/libraries/Gradle__org_hamcrest_hamcrest_2_2.xml
/libraries/Gradle__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
/libraries/Gradle__org_hibernate_hibernate_core_5_1_0_Final.xml
/libraries/Gradle__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/libraries/Gradle__org_javassist_javassist_3_20_0_GA.xml
/libraries/Gradle__org_jboss_jandex_2_0_0_Final.xml
/libraries/Gradle__org_jboss_logging_jboss_logging_3_3_0_Final.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_api_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_java_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_opera_driver_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_3_10_0.xml
/libraries/Gradle__org_seleniumhq_selenium_selenium_support_3_10_0.xml
/libraries/Gradle__org_slf4j_slf4j_api_1_7_16.xml
/libraries/Gradle__org_testng_testng_6_9_10.xml
/libraries/Gradle__xml_apis_xml_apis_1_0_b2.xml
/libraries/Gradle__xmlpull_xmlpull_1_1_3_1.xml
/libraries/Gradle__xpp3_xpp3_min_1_1_4c.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/shelf/Uncommitted_changes_before_Checkout_at_26_02_2024_15_28_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_26_02_2024_15_29_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_26_02_2024_15_28__Changes_.xml
/shelf/Uncommitted_changes_before_Checkout_at_26_02_2024_15_29__Changes_.xml
/vcs.xml
/workspace.xml
/shelf/Uncommitted_changes_before_Checkout_at_26_02_2024_15_28_[Changes]/shelved.patch
/shelf/Uncommitted_changes_before_Checkout_at_26_02_2024_15_29_[Changes]/shelved.patch
